/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, 'Helvetica Neue', sans-serif;
}
.custom-tooltip {
  background-color: #525252;
  opacity: 0.75;
  border-radius: 2px;
  color: #ffffff;
  font-size: 10pt;
  font-weight: 350;
  padding: 8px;
  position: relative;
  top: -20px;
}
